#app {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    padding: 20px 0 20px 0ß;
}

/* select {
    font-size : x-large;
    height: 40px; 
     line-height: normal;
     width: 200px;
    margin: 10px;   } */


 /* .form-control{
     width: 163px;

 }    */

 .mb {
     margin-bottom: 1rem
 }